@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Tahoma','Lucida Sans Unicode', Verdana, sans-serif;
}


#Main_Section{
    width: 900px;
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    grid-template-areas: 
        "a b c";
    margin-left: auto;
    margin-right: auto;
}

#Rules{
    grid-area: b;
}

#Main_Game{
    grid-area: a;
}

#Game_Menu{
    grid-area: c;
    
}

#GameGrid{
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px bisque;
    background-color: bisque;
}

section{
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin: 20px;
}

.cell{
    display: flexbox;
    aspect-ratio: 1/1;
    user-select: none; 
    border-radius: 40%;
    background-color: lightyellow;
    text-align: center;
    border: 2px solid bisque;
    font-size: 18px;
    color: lightyellow;
}

.cell[clickable="1"]{
    font-family: 'Patrick Hand', cursive;
}

.cell:hover[clickable="1"]{
    border: 2px solid darkslategrey;
    cursor: pointer;
}


.cell[clickable="0"]{
    border: 1px solid grey;
}


td[data_value="1"] {
    background-color: lightseagreen;
    color: darkslategrey;
  } 


td[data_value="0"] {
    background-color: lightsteelblue;
    color: darkslategrey;
  } 

  td[error="1"] {
    background-color: lightcoral;
    color: darkred;
    border: 2px solid darkred;
  } 

p {
    text-align: justify;
}